@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');





#txt-input
{
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

#nav-bar
{
    height:30vh;
    width:100%;
    background-color: black
    
    
}

#btn-translate
{
    margin-bottom: 10px;
}

#body
{
    background-image:url("images/mini4.jpg");
    font-family:  'Ranchers', cursive;
}

#output
{
    display:block;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
}

h1
{
    color:white;
}
 #nav-text
{
    color:white;
    text-align:center;
   
}