@import url('https://fonts.googleapis.com/css2?family=Ranchers&display=swap');





#txt-input
{
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
    margin-left:300px;
}

#nav-bar
{
    height:15vh;
    width:100%;
    background-image:url("images/mini6.jpg");
    
    
}

#btn-translate
{
    margin-bottom: 10px;
    width:100px;
    height:50px;
    background-color:yellow;
    margin-left:625px;
}

#body
{
    background-image:url("images/mini8.jpg");
    font-family:  'Ranchers', cursive;
}

#output
{
    display:block;
}

#output {
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
    margin-left:300px;
}

h1
{
    color:black;
}
 #nav-text
{
    color:white;
    text-align:center;
    color:black;
    text-align:center;
   
}

#out-txt
{
    color:black;
    text-align: center;
    text-size-adjust: 100%;
}

h1{
    text-align:center;
}